data_factory/pipeline/Historical Air Pollution Ingest Pipeline.json
{
	"name": "Historical Air Pollution Ingest Pipeline",
	"properties": {
		"activities": [
			{
				"name": "airpollution copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Retrieve API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "historical_airpollution_source",
						"type": "DatasetReference",
						"parameters": {
							"lat": "42.3554",
							"lon": "-71.0605",
							"start": "1706504400",
							"end": "1738181987",
							"appid": {
								"value": "@activity('Retrieve API Key').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "historical_airpollution_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Retrieve API Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://openweather-junhui.vault.azure.net/secrets/OPENWEATHER-API-KEY/b4359060dffb4c7aa4db06bf81b438fb?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-30T03:27:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}